.blog {
	padding: 2rem;
}
.blog h1 {
	text-align: center;
	color: var(--primary-color);
	font-size: 34px;
	margin: 1rem 0;
}
.blog p {
	text-align: center;
	font-size: 18px;
	color: #333;
	margin-bottom: 2rem;
}
.blog-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.blog-section .blog-card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	background-color: var(--neutral-white);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
.blog-section .blog-card img {
	width: 100%;
}
.blog-section .blog-card .blog-metadata {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blog-section .blog-card .blog-metadata div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.blog-section .blog-card h3 {
	padding: 0rem 1rem;
	line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}
.blog-section .blog-card button {
	margin: 1rem;
}
.blog-section .blog-card a {
	text-decoration: none;
}
.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 6px 36px;
	border: 4px solid;
	border-color: transparent;
	font-size: 16px;
	background-color: inherit;
	border-radius: 100px;
	font-weight: 600;
	color: var(--secondary-color);
	box-shadow: 0 0 0 2px var(--secondary-color);
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.animated-button svg {
	position: absolute;
	width: 24px;
	fill: var(--secondary-color);
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.animated-button .arr-1 {
	right: 16px;
}
.animated-button .arr-2 {
	left: -25%;
}
.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: var(--secondary-color);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.animated-button .text {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: #212121;
	border-radius: 12px;
}
.animated-button:hover .arr-1 {
	right: -25%;
}
.animated-button:hover .arr-2 {
	left: 16px;
}
.animated-button:hover .text {
	transform: translateX(12px);
}
.animated-button:hover svg {
	fill: #212121;
}
.animated-button:active {
	scale: 0.95;
	box-shadow: 0 0 0 4px var(--secondary-color);
}
.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}
.blog-detail {
	padding: 1rem;
}
.blog-detail img {
	width: 100%;
	border-radius: 18px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blog-detail .blog-content {
	display: flex;
	align-items: flex-start;
	gap: 3rem;
	margin-top: 1rem;
}
.blog-detail .blog-content > div {
	flex: 1;
}
.blog-detail h1 {
	color: var(--secondary-color);
	margin-bottom: 1rem;
	font-size: 22px;
}
.blog-detail .blog-metadata {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.blog-detail .blog-metadata div {
	display: flex;
	align-items: center;
	gap: 8px;
}
.blog-detail .blog-metadata div svg {
	/* color: var(--secondary-color); */
}
@media (max-width: 768px) {
	.blog {
		padding: 1rem;
	}
	.blog h1 {
		font-size: 28px;
	}
	.blog p {
		font-size: 16px;
		margin-bottom: 1.5rem;
	}
	.blog-section {
		grid-template-columns: 1fr;
		gap: 15px;
	}
	.blog-section .blog-card h3 {
		font-size: 16px;
	}
	.animated-button {
		/* padding: 6px 24px; */
		font-size: 14px;
	}
	.blog-detail h1 {
		font-size: 16px;
		font-weight: 700;
	}
	.blog-detail .blog-content {
		flex-direction: column;
		gap: 1rem;
	}
}
